html, body {
	height:100%;
}
@keyframes anime-opacity {
  0% {
    opacity: 0.0;
    top:-200px;
  }
  25% {
    opacity: 0.25;
    top:-150px;
  }
  50% {
    opacity: 0.5;
    top:-100px;
  }
  75% {
    opacity: 0.75;
    top:-50px;
  }
  100% {
    opacity: 1.0;
    top:0;
  }
}
@keyframes anim-opacity-search-pane {
  0% {	
    opacity: 0.0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1.0;
  }
}
@keyframes anim-appear-from-right {
  0% {	
    right:-400px;
  }
  100% {
    right: 0px;
  }
}
@keyframes anim-disappear-to-left {
  0% {	
    left:0px;
  }
  100% {
    left: 400px;
  }
}
.nav-no-margin {
	margin: 0px !important;
}
.map-container {
	position: relative;
}
.bg-dusky {
	background-color: #eee;
}
.search-container {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}
.container {
	padding: 15px;
	margin: auto;
}
#map {
	position: absolute;
	height:90.5vh;
}
.mobile-map-container {
	position: relative;
	animation: anim-appear-from-right .7s ease-in;
}
.mobile-map-container-active {
	position: relative;
}
.mobile-map-container-leave {
	position: relative;
	animation: anim-disappear-to-left 0.7s ease-out;
}
.mobile-back-btn {
	position: absolute;
	margin-left: 3px;
	z-index: 111;
}
.mobile-map-position {}
.list-location-container {
	overflow-y: scroll;
	margin-bottom: 0px;
	max-height: 75vh;
}
.animmove-enter {
}
.animmove-enter-active {
	animation: anim-appear-from-right .7s ease-in;
}
.animmove-leave {
	opacity: 1.0;
}
.animmove-leave-active {
	opacity: 0;
	transition: .7s ease-out all;
}
.info-window {
	display: flex;
	flex-direction: row;
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(left, rgba(226,226,226,1) 29%, rgba(225,225,225,1) 30%, rgba(219,219,219,1) 41%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 81%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(29%, rgba(226,226,226,1)), color-stop(30%, rgba(225,225,225,1)), color-stop(41%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(81%, rgba(254,254,254,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(left, rgba(226,226,226,1) 29%, rgba(225,225,225,1) 30%, rgba(219,219,219,1) 41%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 81%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(left, rgba(226,226,226,1) 29%, rgba(225,225,225,1) 30%, rgba(219,219,219,1) 41%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 81%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(left, rgba(226,226,226,1) 29%, rgba(225,225,225,1) 30%, rgba(219,219,219,1) 41%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 81%, rgba(254,254,254,1) 100%);
	background: linear-gradient(to right, rgba(226,226,226,1) 29%, rgba(225,225,225,1) 30%, rgba(219,219,219,1) 41%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 81%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
	padding: 5px;
	max-width: 340px;
	opacity: 0.7;
	transition: opacity 1s, background-color 1s;
	transition-timing-function: ease-in-out;
}
.info-window:hover {
	opacity: 1.0;
	background-color:#fff; 
}
.info-image-container {
	background-color: transparent;
	margin: 5px;
}
.info-image {
	width: 100px;
	height: 120px;
}
.info-data-container {
	background-color: transparent;
	margin: 0px;
}
.info-data-item {
	background-color: transparent;
	margin: 5px 5px 0px 0px;
}
.info-button {
	margin: 5px 5px 5px 0px;
}
@media (min-width: 300px) and (max-width: 736px) {
	#map {
		width: 100%;
	}
	.mobile-map-position {
		padding: 0px;
	}
	.info-window {
		max-width: 220px;
		line-height: 1.2;
	}
	.info-image {
		width: 60px;
		height: 80px;
	}
	.info-image-container {
		margin: 3px;
	}
	.info-data-item {
		margin: 3px 3px 0px 3px;
	}
	.info-button {
		margin: 3px 3px 3px 3px;
	}
	.info-button:last-child button{
		margin-top: 3px;
	}
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
	#map {
		width: 600px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 978px;
	}
	#map {
		width: 680px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
	#map {
		width: 800px;
	}
}
@media (min-width: 1350px) {
	.container {
		width: 1320px;
	}
	#map {
		width: 840px;
	}
}
.text-input-search {
	width: auto;
	vertical-align: middle;
	margin-right: 5px;
	transition: border-color ease-in-out 0.5s,-webkit-box-shadow ease-in-out 0.5s;
}
.text-input-search:focus {
	/*width:250px;*/
}
.list-group-item:last-child {
	margin-bottom: 10px;
}
.list-location-item {
	margin: 5px 8px 5px 0px;
	box-shadow: 10px 10px 5px #888888;
	padding-bottom: 0px;
	transition: box-shadow 1s, background-color 1s;
	transition-timing-function: ease-in-out;
}

.list-location-item:hover {
	background-color: #f3f7aa;
	box-shadow: 0px 0px 0px #fff;
}
.list-location-item:first-child {
	margin-top: 10px;
}
.list-location-child-item {
	padding: 2px 6px;
}
.list-location-child-item:first-child {
	padding-left: 0px;
}
.list-location-child-item:last-child {
	padding-right: 0px;
	margin-bottom: 10px;
}
.list-item-weather-container {
	display: inline-block;
	width: 100%;
	margin-right: 0px;
	margin-bottom: 3px;
	position: relative;
}
.weather-component {
	margin: 3px 0px 0px 4px;
	padding: 3px 0px 0px 0px;
}
.go-to-button {
	margin-top: 30px;
	margin-bottom: 0px;
	padding: 3px;
}
.list-location-item-active {
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(left, rgba(226,226,226,1) 29%, rgba(225,225,225,1) 30%, rgba(219,219,219,1) 41%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 81%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(29%, rgba(226,226,226,1)), color-stop(30%, rgba(225,225,225,1)), color-stop(41%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(81%, rgba(254,254,254,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(left, rgba(226,226,226,1) 29%, rgba(225,225,225,1) 30%, rgba(219,219,219,1) 41%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 81%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(left, rgba(226,226,226,1) 29%, rgba(225,225,225,1) 30%, rgba(219,219,219,1) 41%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 81%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(left, rgba(226,226,226,1) 29%, rgba(225,225,225,1) 30%, rgba(219,219,219,1) 41%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 81%, rgba(254,254,254,1) 100%);
	background: linear-gradient(to right, rgba(226,226,226,1) 29%, rgba(225,225,225,1) 30%, rgba(219,219,219,1) 41%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 81%, rgba(254,254,254,1) 100%);
	box-shadow: 5px 5px 2px #888888;
}
.pull-inline {
	display: inline-flex;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.rounded-border {
	border-radius: 10px !important;
}
.bold-italic-font {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
}
.light-italic-font {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.font-normal {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.font-color-blue {
	color: blue;
}
.font-color-shady {
	color: #afa496;
}
.font-size-large {
	font-size: 24px;
}
.font-size-medium {
	font-size: 16px;
}
.font-size-small {
	font-size: 12px;
}
.font-size-xm {
	font-size: 10px;
}
::-webkit-scrollbar {
    width: 8px;
    margin-left: 3px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
} 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.fade-enter {
	transform: rotateX(90deg) rotateZ(90deg);
	opacity: 0;
}
.fade-enter-active {
	transform: rotateX(0deg) rotateZ(0deg);
	opacity: 1.0;
	transition: 0.5s ease-in all;
}
.fade-leave {
	opacity: 1.0;
}
.fade-leave-active {
	opacity: 0;
	transition: .5s ease-out all;
}
.close-item {
	cursor: pointer;
	position: relative;
	opacity: 0.5;
	transition: opacity 0.5s;
	transition-timing-function: ease-in;
}
.close-item-sm {
	font-size: 1.5em;
}
.close-item-lg {
	font-size: 2.5em;
}
.close-item:hover {
	opacity: 1.0;
}
.home-container {
	height: 100%;
}
.media-bg-btn {
	display: flex;
	flex-direction: row;
	position: absolute;
	right: 0;
	padding-right: 5px;
}
.media-bg-btn-item {
	padding-right: 5px;
}
.close-item-w-list {
	top:-10px;
	left:8px;
}
.close-item-m-list {
	top:-16px;
	left:8px;
}
.carousel-container {
	width: 504px;
    height: 254px;
    position: relative;
    margin: 0 auto 40px;
    -webkit-perspective: 1100px;
    -moz-perspective: 1100px;
    -o-perspective: 1100px;
    perspective: 1100px;
}
.carousel {
	width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: transform 1s ease-in;
}
.carousel figure {
	display: block;
    position: absolute;
    width: 504px;
    height: 254px;
    left: 10px;
    top: 10px;
    text-align: center;
    -webkit-box-reflect: below 15px 
    -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 50%, transparent 100%);
}
.carousel figure:hover {
	transform: scaleX(1.3) scaleY(1.3);
	transition-duration: 1s;
	transition-timing-function: ease-in;
}
.car-nav {
	position: relative;
    display: block;
    padding-left: 45%;
    padding-top: 10%;
    margin: 25px auto;
    cursor: pointer;
    -webkit-box-reflect: below 5px
    -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 50%, transparent 100%);
}
.nav3d-container {
	width: 64px;
    height: 64px;
    margin-bottom: 169%;
    margin-top: 169%;
    position: relative;
    -webkit-perspective: 1100px;
    -moz-perspective: 1100px;
    -o-perspective: 1100px;
    perspective: 1100px;
}
.nav3d {
	width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: transform 1s ease-in;
}
.nav3d figure {
	display: block;
    position: absolute;
    width: 48px;
    height: auto;
    text-align: center;
    cursor: pointer;
}
.nav-container {
	display: flex;
	flex-direction: column;
	background-color: #000;
	border-radius: 10px;
	position: absolute;
	right: 0;
}
.nav-up, .nav-down {
	width:42px;
	height: 42px;
	margin: 8px auto;
	cursor: pointer;
}
.n3c {
	width: 64px;
	border-radius: 20px;
	height:auto;
	overflow: hidden;
}
.goption-box {
	display: flex;
	flex-direction: column;
	margin:5px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 10px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,0.99) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,0.99)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,0.99) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,0.99) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,0.99) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,0.99) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
	text-transform: capitalize;
	opacity: 0.8;
	transition: opacity 1s ease-in-out;
}
.goption-box:hover {
	opacity: 1.0;
	transform: rotateZ(7deg);
}
.go-fav {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	cursor: pointer;
}
.streetview {
	position: absolute;
	height: auto;
	top: 45px;
	bottom: 20px;
	left: 20px;
	right: 20px;
}
.dell-all-box {
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
} 
.danger-pad {
	margin-left: 5px;
	margin-bottom: 5px;
	float: right;
}
.media-container {
  display: none;
  margin: 52px 0 0 0;
  padding: 15px;
  z-index: 10;
  width: 100%;
  height:91.84953%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1.0;
}
.m-light {
  background-color: #fff;
  animation: anime-opacity 1s;
  animation-timing-function: linear;
}
.m-dark {
  background-color: #000;
  animation: anime-opacity 1s;
  animation-timing-function: linear;
}
#search, #favs, #search_history {
	animation: anim-opacity-search-pane;
	animation-duration: 0.7s;
	animation-timing-function: ease-in;
}
