.nav-no-margin {
	margin: 0px !important;
}
.map-container {
	position: relative;
}
.bg-dusky {
	background-color: #eee;
}
.search-container {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}
.container {
	padding: 15px;
	margin: auto;
}
#map {
	position: absolute;
}
.list-location-container {
	overflow-y: scroll;
	margin-bottom: 0px;
}
@media (min-width: 300px) {
	.container {
		width: 270px;
	}
	#map {
		width: 240px;
		height: 200px;
	}
	.list-location-container {
		max-height: 160px;
	}
}
@media (min-width: 500px) {
	.container {
		width: 480px;
	}
	#map {
		width: 420px;
		height: 360px;
	}
	.list-location-container {
		max-height: 320px;
	}
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
	#map {
		width: 600px;
		height: 480px;
	}
	.list-location-container {
		max-height: 440px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 978px;
	}
	#map {
		width: 680px;
		height: 480px;
	}
	.list-location-container {
		max-height: 440px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
	#map {
		width: 800px;
		height: 480px;
	}
	.list-location-container {
		max-height: 440px;
	}
}
@media (min-width: 1350px) {
	.container {
		width: 1320px;
	}
	#map {
		width: 840px;
		height: 540px;
	}
	.list-location-container {
		max-height: 440px;
	}
}

.text-input-search {
	width: auto;
	vertical-align: middle;
	margin-right: 5px;
	transition: border-color ease-in-out 0.5s,-webkit-box-shadow ease-in-out 0.5s;
}
.text-input-search:focus {
	/*width:250px;*/
}
.list-group-item:last-child {
	margin-bottom: 10px;
}
.list-location-item {
	margin: 5px 8px 5px 0px;
	box-shadow: 10px 10px 5px #888888;
	padding-bottom: 0px;
	transition: box-shadow 1s, background-color 1s;
	transition-timing-function: ease-in-out;
}
/*li.list-group-item {
	transition: box-shadow 1s, background-color 1s;
	transition-timing-function: ease-in-out;
}*/
.list-location-item:hover {
	background-color: #f3f7aa;
	box-shadow: 0px 0px 0px #fff;
}
.list-location-item:first-child {
	margin-top: 10px;
}
.list-location-child-item {
	padding: 2px 6px;
}
.list-location-child-item:first-child {
	padding-left: 0px;
}
.list-location-child-item:last-child {
	padding-right: 0px;
	margin-bottom: 10px;
}
.list-item-weather-container {
	display: inline-block;
	width: 100%;
	margin-right: 0px;
	margin-bottom: 3px;
	position: relative;
}
.weather-component {
	margin: 3px 0px 0px 4px;
	padding: 3px 0px 0px 0px;
}
.go-to-button {
	margin-top: 30px;
	margin-bottom: 0px;
	padding: 3px;
}
.list-location-item-active {
	background-color: #dee8f9;
	box-shadow: 0px 0px 0px #fff;
}
.pull-inline {
	display: inline-flex;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.rounded-border {
	border-radius: 10px !important;
}
.bold-italic-font {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: italic;
	font-weight: bold;
}
.light-italic-font {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: italic;
}
.font-color-blue {
	color: blue;
}
.font-color-shady {
	color: #afa496;
}
.font-size-large {
	font-size: 24px;
}
.font-size-medium {
	font-size: 16px;
}
.font-size-small {
	font-size: 12px;
}
::-webkit-scrollbar {
    width: 8px;
    margin-left: 3px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
} 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.fade-enter {
	transform: rotateX(90deg) rotateZ(90deg);
	opacity: 0;
}
.fade-enter-active {
	transform: rotateX(0deg) rotateZ(0deg);
	opacity: 1.0;
	transition: 0.5s ease-in all;
}
.fade-leave {
	opacity: 1.0;
}
.fade-leave-active {
	opacity: 0;
	transition: .5s ease-out all;
}